<!DOCTYPE html>
<html>
    <head>
        <title>TIL</title>
        <link rel="stylesheet" type="text/css" href="/static/main.css" />
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <div class="header">
            <div class="til">
                <span class="til-title">Today I learned:</span>
                <form class="new-post" action="/post" method="POST">
                    <input type="text"
                           name="post"
                           autocapitalize="off"
                           placeholder="how to..." />
                </form>
            </div>
            <a class="logout" href="/logout">Logout</a> <br>
        </div>
        {% if empty %}
            <span>No Posts</span>
        {% else %}
            <span>Posts:</span> <br>
            {% for date in dates %}
                <span>On {{ date }}</span> I learned... <br>
                {% for post in date_posts[date] %}
                    <span>... {{ post.post }} (at {{ post.timestr }})</span> <br>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </body>
</html>
