<!DOCTYPE html>
<html>
    <head>
        <title>TIL</title>
    </head>
    <body>
        Today I learned:
        <form action="/post" method="POST">
            <input type="text" name="post" placeholder="how to eat frogs" />
        </form>
        <a href="/logout">Logout</a> <br>
        {% if empty %}
            <span>No Posts</span>
        {% else %}
            <span>Posts:</span> <br>
            {% for date in dates %}
                <span>On {{ date }}</span>: <br>
                {% for post in date_posts[date] %}
                    <span>I learned {{ post.post }} (at {{ post.timestr }})</span> <br>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </body>
</html>
